<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="container">
    <div class="card">
      <h2>Faça login ou crie sua conta</h2>
      <div class="inputs">
      </div>
      <div class="others-options"></div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button routerLink="/login">Login</ion-button>
          </ion-col>
          <ion-col>
            <div class="bt">
            <ion-button routerLink="/register">Registrar-se</ion-button>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</ion-content>



