<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRegister">
  <section class="container">
    <div class="card">
      <h2>Registrar-se</h2>
      <div class="inputs">

        <ion-item fill="outline">
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome" class="custom" type="name" placeholder="examplename"></ion-input>
        </ion-item>

        <div class="a">
        <ion-item fill="outline">
          <ion-label position="floating">CPF</ion-label>
          <ion-input formControlName="cpf" class="custom" type="cpf" placeholder="000.000.000-00"></ion-input>
        </ion-item>
      </div>

      <div class="a">
        <ion-item fill="outline">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" class="custom" type="email" placeholder="examplemail@gmail.com"></ion-input>
        </ion-item>
      </div>

      <div class="a">
        <ion-item fill="outline">
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" class="custom" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>

      <div class="a">
        <ion-item fill="outline">
          <ion-label position="floating">Confirm password</ion-label>
          <ion-input formControlName="confirmPassword" class="custom" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>

      </div>
      <div class="others-options"></div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="salvarRegister()">Salvar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button routerLink="/login" expand="block">Voltar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</form>
</ion-content>
